*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.fhead{
    background-color: green;
    color: ghostwhite;
    width: 60%;
    font-size: 32px;
    text-align: center;
    margin-bottom: 0.91rem;
    place-items: center;
    margin-left: 20rem;
    cursor: pointer;
    border-radius: 15px;
    
}
.productcontainer{
    display: flex;
    width: 80%;
    background-color: grey;
    margin: auto;
    flex-wrap: wrap;
    border-radius: 15px;
    
}
.productcards>img{
    height: 12rem;
    width: 100%;
    object-fit: contain;
    transition: transform 2s;

}
.productcards{
    display: flex;
    flex-direction: column;
    background-color: ghostwhite;
    margin: 3px;
    height: 20rem;
    width: 20rem;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid #add8e6;
    transition: 1s ease-in-out;
    transition:  0.2s ease;
    border-radius: 15px;
}
.productcards>h2{
    text-align: center;
    color: green;
}
.productcards>p{
    text-align: center;
    font-weight: bold;
}
.button{
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-align: center;
    cursor: pointer;
    margin-top: -0.71rem;
    border-radius: 20px;
    overflow: hidden;
    
    
}
.button>button{
    height: 3rem;

    padding-left: 1rem;
    padding-right: 1rem;
    border: none;
    background-color: green;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 1rem;

}
.button>button:hover{
    background-color: gold;
}