* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}


/* card section */
.outsiderow{
    background-color: grey;
    margin: 0px;
    padding: 0px;
    /* border: 5px solid goldenrod; */
    border-radius: 20px;
    
}
.insiderow{
    background-color: grey;
    border-radius: 30px;
    /* border: 5px solid greenyellow; */
    margin: 20px;
    padding: 20px;
}

.card{
    background-color: white;
    color: black;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(107,99,99,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(107,99,99,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(107,99,99,0.75);

}
.card-img-top{
    width: 100%;
    height: 200px;
    object-fit: cover;
    padding: 10px;
}
.admin{
    width: 6%;
    height: 6%;
}
.adminname{
    width: 130px;
    object-fit: contain;
}

.section {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: gainsboro;
    margin-top: 20px;
    border-radius: 25px;
}
/*cart*/
.container1{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.cart_img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.cartrow{
    background-color: ghostwhite;
    padding: 20px;
    border-radius: 30px;
    width: 60rem;
    margin: auto;
}
.table1{
    background-color: cornflowerblue;
}

/*profileimage*/
.backprofile{
    background-color: gainsboro;
    border-radius: 10rem;
    border: 5px solid ghostwhite;
}
.profileimage{
    width: 100%;
    margin: 1px;
    display: block;
    height: 100%;
    object-fit: contain;
    padding: 25px;
    border-radius: 90%;
    
    
}
.profilerow{
    background-color: gainsboro;
}
.profilepage{
    background-color: rgb(2, 2, 32);
}
.editimage{
    width: 100px;
    height: 100px;
    object-fit: contain;

}
/* payment Page */
.container{
    background-color: red;
    color: aqua;
    width: 40rem;
}
.foot{
    margin: 0;
    height: 10rem;
    background-color: black;
}






/* image in view all file*/
.productimage{
    width: 100px;
    object-fit: contain;
}
/* ---------------login page------------------ */
.container-login{
    display: flex;
    width: 100%;
    background-color: grey;
    height: 100Vh;
    
}
fieldset{
    padding: 15px;
    margin: 10px auto;
    width: 50%;
    background-color: grey;
    color: black;
    border-radius: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    padding-top: 40px;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    gap: 20px;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: ghostwhite;
}
.form > p{
    font-weight: 500;
}
.form input{
    height: 45px;
    outline: none;
    width: 30rem;
    font-size: 19px;
    padding: 10px;
    border-radius: 10px;
}
.logg{
    display: flex;
    justify-content: space-around;
}
.btnlog{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    min-width: min-content;

}
.btnlog>a{
    text-decoration: none;
    color: black;
}
.form button{
    width: 7rem;
    height: 3rem;
    border-radius: 15px;
    font-size: 30px;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    background-color:  slategrey;
    
}
.form >p a{
    text-decoration: none;
    font-size: 25px;

}
.form button:hover{
    background-color: red;
    color: white;
}
.form a:hover{
    background-color: green;
    color: white;
}
/* regislation form */
.reg{
    background-color: gainsboro;
}
.submit{
    background-color: slategrey;
    border-radius: 25px;
    font-size: 25px;
    padding: 0;
}
.submit:hover{
    background-color: green;
}
/* insert product */
.admin{
    background-color: antiquewhite;
}
.container{
    background-color: ghostwhite;
    padding: 20px;
}
.containeradmin{
    background-color: ghostwhite;
    padding: 20px;
}
/* Admin section */
.container-fluid1{
    overflow: hidden;
    height: 140vh;
}
.adminsec{
    display: flex;
    background-color: grey;
    flex-direction: row;
    width: 100%;
    padding-top: 2rem;
    padding-left: 2rem;
    height: 10rem;
}
.adminbuttons{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-size: 20px;
    border: none;
    text-decoration: none;
    
    
}
.adminbuttons>button{
    border: none;
    height: 4rem;
    width: 10rem;
    border-radius: 10px;
    
}
.adminbuttons>button>a{
    text-decoration: none;
    font-weight: bold;
}

