* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* blog section */
.blognav{
    background-color: white;
    height: 10rem;
    padding: 2rem;
}
.blognav>h3{
    text-align: center;
    color: green;
    padding: 5px;
}
.blogcards>img{
    padding: 1rem;
    height: 12rem;
    width: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out;
}
.blogcontainer{
    background-color: gray;
    height: 80rem;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    cursor: pointer;
    margin: auto;
    padding-bottom: 20rem;
    border-radius: 20px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.blogcards{
    transition: 0.3s ease-in-out;
    display: flex;
    height: 25rem;
    width: 20rem;
    margin: 10px auto;
    align-items: center;
    flex-direction: column;
    object-fit: cover;
    transition: all 3s ease-in;
    background-color: gainsboro;
    border-radius: 20px;
}
.blogcards>h2{
    font-size: 20px;
    color: green;

}
.blogcards>p{
    color: black;
}
.blogbtn{
    height: 2rem;
    border: none;
    color: white;
    width: 10rem;
    font-size: 20px;
    
}
.blogbtn>a{
    text-decoration: none;
    color: blueviolet;

}


